.actions-group {
  display: flex;
  align-items: center;
}

.actions-group__item {
  & + & {
    margin-left: 18px;
  }

  &--with-divider {
    @media (min-width: 1280px) {
      display: flex;
      align-items: center;

      &::after {
        content: "";
        display: block;
        height: 28px;
        width: 1px;
        background: #DBDBDB;
        margin-left: 18px;
      }
    }
  }

  &--only-desktop {
    display: none;

    @media (min-width: 1280px) {
      display: block;

      &.actions-group__item--with-divider {
        display: flex;
      }
    }
  }
}